@import "tailwindcss";


@theme {
    --color-primary: #3b82f6;
    --color-primary-dark: #2563eb;
    --color-secondary: #64748b;
    --color-success: #10b981;
    --color-danger: #ef4444;
    --color-warning: #f59e0b;
}

@layer base {
    * {
        @apply border-gray-200;
    }

    body {
        @apply bg-gray-50 text-gray-900;
    }
}